/* App launcher: search entry, mode switcher, icons. */

@import "theme.rasi"

configuration {
    display-drun:        "󰀻";
    display-run:         "󰆍";
    display-filebrowser: "󰉋";
    display-window:      "󰝒";
    drun-display-format: "{name}";
    window-format:       "{w} · {c} · {t}";
}

window  { width: 600px; }
mainbox { padding: 30px; }

inputbar {
    children: [ "textbox-prompt-colon", "entry", "mode-switcher" ];
}
textbox-prompt-colon {
    str:     "󰍉";
    padding: 5px 0;
}
entry {
    padding:           5px 0;
    placeholder:       "Search...";
    placeholder-color: @foreground;
}
mode-switcher {
    spacing: 10px;
}
button {
    padding:          5px 10px;
    border-radius:    10px;
    background-color: @background-alt;
}

listview {
    lines:        8;
    fixed-height: true;
}
scrollbar {
    handle-width:     5px;
    handle-color:     @selected;
    border-radius:    10px;
    background-color: @background-alt;
}
element {
    padding: 5px 10px;
}
element-icon {
    size: 24px;
}
