[submodule "vim/bundle/vitality"]
	path = vim/bundle/vitality
	url = https://github.com/sjl/vitality.vim
[submodule "vim/bundle/autocomplpop"]
	path = vim/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/autoclose"]
	path = vim/bundle/autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/phpcomplete"]
	path = vim/bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = https://github.com/davelens/xmledit.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
