.DS_Store
.env
.install_path
.notes
dotbot
bash/env/autocompletions/iterm2_shell_integration.bash
bash/private
# ac is a symlink to my ActiveCollab commands, which live in a private repo.
bin/utilities/ac
vim/.netrwhist
vim/bundle/**
vim/bundle/vundle
vim/autoload/plug.vim
vim/ftplugin/go
vim/swp
node_modules
config/tmux/plugins
config/macos/karabiner/automatic_backups
