.DS_Store
.env
.install_path
dotbot
bash/completions/iterm2_shell_integration.bash
bash/private
# ac is a symlink to my ActiveCollab commands, which live in a private repo.
bin/utilities/ac
vim/.netrwhist
vim/bundle/**
vim/bundle/vundle
vim/autoload/plug.vim
vim/ftplugin/go
vim/swp
node_modules
tmux/plugins
