* {
	font-family: "CommitMono Nerd Font", "Hack Nerd Font";
	font-weight: bold;
	font-size: 16px;
}

#custom-user,
#window label,
#mpris,
tooltip label {
	font-weight: normal;
}

#custom-distro {
	font-size: 20px;
}

#custom-power_menu {
	font-size: 18px;
}

#custom-left_div_hl,
#custom-left_inv_hl,
#custom-right_div_hl,
#custom-right_inv_hl,
#custom-left_div_bl,
#custom-left_inv_bl,
#custom-right_div_bl,
#custom-right_inv_bl,
#custom-left_div_accent,
#custom-left_inv_accent,
#custom-right_div_accent,
#custom-right_inv_accent,
#custom-left_inv_inverse {
	font-size: 22px;
}
