#custom-trigger:hover,
#idle_inhibitor:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#pulseaudio:hover {
	color: @hover-fg;
}

/* inactive state */
#idle_inhibitor.deactivated,
#mpris.paused,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
	color: @hover-fg;
}

#memory.warning,
#cpu.warning,
#battery.warning {
	color: @warning;
}

#temperature.critical,
#memory.critical,
#cpu.critical,
#battery.critical {
	color: @critical;
}

#battery.charging {
	color: @charging;
}
