[Unit]
Description=Albert Launcher
Documentation=https://github.com/albertlauncher/albert

[Service]
ExecStart=/usr/bin/albert
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target graphical-session.target
