[Unit]
Description=Window switcher for Sway
Documentation=https://github.com/lostatc/swtchr
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
Environment=RUST_BACKTRACE=1
ExecStart=%h/.local/share/cargo/bin/swtchrd
Restart=on-failure

[Install]
WantedBy=sway-session.target
