[Unit]
Description=Highly customizable Wayland bar for Sway
Documentation=https://github.com/Alexays/Waybar
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=3

[Install]
WantedBy=sway-session.target
