[Desktop Entry]
Name=Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/home/davelens/.local/bin/hyprland-start
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
