snippet it
	it '${1}' do
		${2}
	end
snippet specfile
	require 'rails_helper'

	describe ${1} do
		let(:model) { described_class }
		let(:klass) { model.to_s.underscore.to_sym }

		it '#respond_to?' do
			expect(build(klass)).to respond_to?(${2})
		end
	end
snippet booltest
	describe '#${1:method}' do
		it 'true' do
			expect(instance.$1).to be true
		end

		it 'false' do
			expect(instance.$1).to be false
		end
	end
